@page
@model test02.Pages.Staff.EditModel
@{
}


<form method="post">

    <input type="hidden" name="id" value="@Model.staff.id" />

    <div class="row mb-3">
        <label class="col-sm-3">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fname" value="@Model.staff.fname" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="lname" value="@Model.staff.lname" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3">Job</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="job" value="@Model.staff.job" />
        </div>
    </div>

    <div class="row mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <div class="row mb-3 d-grid">
        <button class="btn btn-primary" href="/" role="button">Cancel</button>
    </div>
</form>
